<h1 class="tittle-h1">Mis juegos  {{ nombreUsuario }}</h1>

<div class="games-container">
  <div class="card" *ngFor="let game of games">
    <div class="card-img">
      <img class="game-image" [src]="game.foto" alt="Imagen del juego">
    </div>
    <div class="card-info">
      <h1 class="game-h1">{{ game.nombre }}</h1>
      <div class="game-details-container">
        <h3 class="game-details"><strong>{{ game.genero }}</strong></h3>
        <p class="game-details"><strong>Plataforma:</strong> {{ game.plataforma }}</p>
      </div>
    </div>
  </div>
</div>
