.games-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border-radius: 5px;
}

.game-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-image-container {
  border-radius: 10px;
}

.game-image {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-info {
  color: #FFD700;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.game-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.game-details-container {
  text-align: center;
}

.game-details {
  margin-bottom: 5px;
  font-size: 14px;
}

.game-details strong {
  font-weight: bold;
}

.game-cantidad {
  font-weight: bold;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}
.buy-button {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #ddebf0;
}

#clip {
  --color: #FFD700;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #caaf13;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #FFD700;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 120%;
}

.buy-button:hover #rightArrow {
  background-color: #FFAC33;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

.buy-button:hover #leftArrow {
  background-color: #FFAC33;
  left: 120%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #FFD700;
  box-shadow: inset 1px 1px 8px #FFDC35;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3.0em;
}

#leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

.buy-button:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.buy-button:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.buy-button:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.buy-button:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.buy-button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

.buy-button:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #FFAC33;
}

@keyframes changeColor8 {
  from {
    background-color: #FFDC35;
  }

  to {
    background-color: #FFAC33;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #FFAC33;
  }

  to {
    box-shadow: 0 0 2px #FFAC33;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #FFAC33;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }

}
.delete-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.delete-button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.delete-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
h1 {
  color: #ffff00;
  text-shadow: 0 0 5px #c0a123,
               0 0 25px #c0a123,
               0 0 50px #c0a123,
               0 0 100px #c0a123;
  font-size: 2em; /* Ajusta el tamaño según tus preferencias */
}
