<h1 class="game-details"><strong>Mi Carrito</strong></h1>

<div class="games-container">
  <div class="game-card" *ngFor="let game of games">
    <div class="game-image-container">
      <img class="game-image" [src]="game.foto" alt="Imagen del juego">
    </div>
    <div class="game-info">
      <h2 class="game-title">{{ game.nombre }}</h2>
      <div class="game-details-container">
        <h3 class="game-details"><strong>{{ game.genero }}</strong></h3>
        <p class="game-details"><strong>Plataforma:</strong> {{ game.plataforma }}</p>
      </div>
    </div>
    <button class="delete-button" (click)="eliminarJuego(game.id)">
      <svg viewBox="0 0 448 512" class="svgIcon">
        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
      </svg>
    </button>
  </div>
  <button class="buy-button" (click)="comprar()">
    Comprar
    <div id="clip">
      <div id="leftTop" class="corner"></div>
      <div id="rightBottom" class="corner"></div>
      <div id="rightTop" class="corner"></div>
      <div id="leftBottom" class="corner"></div>
    </div>
    <span id="rightArrow" class="arrow"></span>
    <span id="leftArrow" class="arrow"></span>
  </button>
</div>
