body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);

}
.content {

  padding: 50px;
  min-height: 100vh;
}

nav {
  background-color: #FFFF00;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  background-color: #FFFF00;
}

nav a:hover {
  background-color: #000000;
  color: #FFFF00;
}

nav .active {
  color: #FFFF00;
  background-color: #000000;
}
