/* Estilos para la sección de juegos */
.games-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border-radius: 5px;
}

.game-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-image-container {
  border-radius: 10px;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-info {
  color: #FFD700;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.game-details-container {
  text-align: center;
}

.game-details {
  margin-bottom: 5px;
  font-size: 14px;
}

.game-details strong {
  font-weight: bold;
}

.game-cantidad {
  font-weight: bold;
  font-size: 16px;
}

.buy-button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #fffb00;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
 }

 .buy-button:hover {
  box-shadow: 0 0 10px #fffb00, 0 0 25px #ff9100, 0 0 50px #fffb00;
  transition-delay: 0.6s;
 }

 .buy-button span {
  position: absolute;
 }

 .buy-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fffb00);
 }

 .buy-button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }

 .buy-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff9100);
 }

 .buy-button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }

 .buy-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fffb00);
 }

 .buy-button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }

 .buy-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff9100);
 }

 .buy-button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }

 .buy-button:active {
  background: #fffb00;
  background: linear-gradient(to top right, #fffb00, #ff9100);
  color: #bfbfbf;
  box-shadow: 0 0 8px #fffb00, 0 0 8px #ff9100, 0 0 8px #fffb00;
  transition: 0.1s;
 }

 .buy-button:active span:nth-child(1)
 span:nth-child(2)
 span:nth-child(2)
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }


/* Estilos para pantallas pequeñas (hasta 768px de ancho) */
@media (max-width: 768px) {
  .game-card {
    padding: 5px;
  }

  .game-image-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .game-info {
    margin-top: 10px;
  }

  .button {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 0;
  }
}
